* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

header {
  background-color: #f5f5f5;
  color: #212121;
  cursor: pointer;
  padding: 8px 16px;
}

.tabs-container .no-uppercase {
  padding: 0 16px;
}

.no-uppercase,
.btn-login,
.btn-register {
  text-transform: none;
}

.btn-login,
.btn-register {
  padding: 0 16px;
}

.btn-register {
  background-color: #3f560e;
  color: #fff;
}
/* app global css */
