/* CSS COMUM */

.modal {
  max-width: 1040px;
  padding: 35px 30px;
}

.modal-title {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 20px;
}

.title-section {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}

.modal ::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}

.modal ::-webkit-scrollbar-thumb {
  background-color: #3F560E;
}

.modal ::-webkit-scrollbar-track {
  background-color: #CCCCCC;
}

.descriptions-items {
  font-size: 15px;
}

.descriptions-items span {
  font-weight: bold;
}

/* CSS MODAL DE PROJETO */

.modal-projeto {
  display: grid;
  grid-template-columns: 670px 1fr;
  gap: 20px;
  overflow: hidden;
  max-height: 80vh;
}

.left-side {
  overflow: auto;
  max-height: calc(80vh - 35px);
  padding: 0 20px 35px 0;
}

.modal-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checklist-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 280px;
  overflow: auto;
}

.message {
  padding: 12px 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  background-color: #F5F5F5;
  border-radius: 10px;
}

.people-image img {
  width: 30px;
  height: 30px;
}

.info-project {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 10px;
}

.project-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.status {
  color: #CCCCCC;
  font-weight: bold;
  border: 3px solid #CCCCCC;
  padding: 10px 15px;
  border-radius: 10px;
  width: fit-content;
  font-size: 22px;
  line-height: normal;
}
.status-finalizado {
  border-color: #27a902;
  color: #27a902;
}
.status-andamento {
  border-color: #CA8117;
  color: #CA8117;
}
.status-cancelado {
  border-color: #b60b0b;
  color: #b60b0b;
}

.progress-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.bar {
  width: 100%;
  height: 5px;
  background-color: #D9D9D9;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #628263;
  width: 0%;
  transition: width 0.3s ease;
}

/* MODAL DE PROPOSTA */

.modal-proposta {
  display: grid;
  grid-template-columns: 70% 1fr;
  gap: 20px;
  overflow: hidden;
  max-height: 65vh;
}

.about-people {
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 30px;
}

.card-photo {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

.card-photo img {
  width: 45px;
  height: 45px;
}

.modal-proposta .description {
  font-size: 13px;
}

.modal-proposta .right-side {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-proposta .left-side {
  max-height: calc(65vh - 35px);
}

.simple-button {
  background-color:#3F560E;
  color: #fff;
  padding: 14px 10px;
  border-radius: 10px;
  font-size: 16px;
  line-height: normal;
}

.outline-button {
  border: 1px solid #3F560E;
  color: #3F560E;
  padding: 14px 10px;
  border-radius: 10px;
  font-size: 16px;
  line-height: normal;
}
